
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="~/Account/Verify">
    <input type="text" name="user" />
    <input type="password" name="password" />
    <input type="submit" value="Verify" />
</form>